/* Index.html */

body{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25%;
    margin-right: 25%;
}

body > header{
    border-radius: 5px;
    background-color: #999999;
    padding: .8em;
    margin-top: 1.5em;
}

#lili{
    position: absolute;
    top: -2.2em;
    left: 24.2%;
    opacity: 1;
    width: 8%;
}

#lili:hover{
    cursor: grab;
}

#lili:active{
    cursor: grabbing;
}

body > header > h1{
    float: left;
    font-weight: bold;
    padding: .3em;
    padding-left: 8em;
    margin-right: 49.5%;
    opacity: .7;
}

body > header > nav > ul > li{
    transition-duration: .25s;
    display: inline-block;
    border: thin solid black;
    border-radius: 1em;
    background-color: gray;
    padding: .3em;
    padding-left: 2em;
    padding-right: 2em;
}

body > header > nav > ul > li:first-child{
    margin-right: .5em;
}

body > header > nav > ul > li:hover{
    background-color: silver;
}

main{
    clear: both;
}

main > section > div > header > h1{
    float: left;
    position: static;
    width: 67.5%;
    border: 2px solid #999999;
    border-radius: 5px;
    background-color: #CCCCCC;
    font-size: 22px;
    font-weight: bold;
    padding: .75em;
    margin-top: 1em;
    opacity: .8;
}

main > section > div > div > ol > li{
    width: 20%;
    border: 2px solid #999999;
    border-radius: 1em;
    padding: 1.6em;
    font-weight: bold;
    text-decoration: underline;
    text-align: justify;
    margin-top: -2px;
    margin-left: 73%;
}

#itemCount{
    position: absolute;
    border: thin solid brown;
    border-radius: 2em;
    background-color: red;
    color: white;
    font-size: 10px;
    font-weight: bolder;
    padding: .2em;
    margin-left: .5em;
}

section > div > div > form{
    position: absolute;
    top: 11em;
    width: 35.5%;
}

section > div > div > form > fieldset > legend{
    font-size: 20px;
    margin-left: .25em;
    margin-bottom: .6em;
}

label select, label input{
    width: 15%;
    margin-right: 8%;
}

label span{
    margin-right: .5em;
}

#imageContainer{
    position: absolute;
    top: 17em;
    height: 63.9%;
    width: 36%;
    overflow-y: scroll;
    padding: .3em;
}

img{
    border-radius: 3em;
    opacity: .4;
    margin: .5em;
    transition-duration: 1s;
}

img:hover{
    opacity: 1;
}

#cartContents{
    overflow-y: scroll; 
    border: 2px solid #999999;
    height: 30.5em;
    width: 15.2em;
    margin-top: -2px;
    margin-left: 73%;
}

footer{
    border-radius: 5px;
    background-color: #999999;
    text-align: right;
    padding: .8em;
    margin-top: -2px;
}

footer > p{
    opacity: .25;
    padding-right: 1.5em;
}


/* Cart.html */


table{
    width: 15.4em;
    border: 2px solid #999999;
    margin-top: -2px;
    margin-left: 73%;
}

th{
    padding: .4em;
    padding-top: 1.5em;
    padding-bottom: 42.5em;
}